/* #btn , #wishlist , #Add{
  padding: 10px;
  background-color: rgb(130, 130, 249);
  color: white;
  border: none;
  border-radius: 10px;
} */
 /* body{
  text-align: center;
 }
 #btn{
  padding: 20px 10px;
  background-color: rgb(74, 74, 244);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 30px;
 } */